*.tar

/.vscode
**/.vscode
frontend/gestor_de_estagios/.timetracker

/.idea
**/.idea
/backend/.env
backend/.env
backend/media/pfp/
__pycache__/
**/__pycache__/
*.sqlite3
backend/celerybeat-schedule
/backend/celerybeat-schedule
backend/celerybeat-schedule-shm
/backend/celerybeat-schedule-shm
backend/celerybeat-schedule-wal
/backend/celerybeat-schedule-wal