@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root {

  --title-font: "Montserrat", sans-serif;
  --body-font: "Inter", sans-serif;
	--code-font: "Google Sans Code", monospace;

	--fs-950: 4.299rem;
	--fs-900: 2.986rem;
	--fs-800: 2.488rem;
	--fs-700: 2.074rem;
	--fs-600: 1.728rem;
	--fs-500: 1.440rem;
	--fs-400: 1.200rem;
	--fs-300: 1.000rem;
	--fs-200: 0.833rem;
	--fs-100: 0.694rem;

	--icon-size-l: 2.5rem;
	--icon-size-m: 2.0rem;
	--icon-size-s: 1.5rem;
	--icon-size-xs: 1.2rem;
	--icon-size-2xs: 0.8rem;

}

h1,h2,h3,h4,h5,h6,b,p {
  margin: 0;
}


h1 {
  font-family: var(--title-font);
  font-size: var(--fs-900);
  font-weight: 700;
  letter-spacing: 0.75%;
}

h2 {
  font-family: var(--title-font);
  font-size: var(--fs-800);
  font-weight: 700;
  letter-spacing: 0.75%;
}

h3 {
  font-family: var(--title-font);
  font-size: var(--fs-700);
  font-weight: 600;
  letter-spacing: 0.75%;
}

h4 {
  font-family: var(--title-font);
  font-size: var(--fs-600);
  font-weight: 600;
  letter-spacing: 0.5%;
}

h5 {
  font-family: var(--title-font);
  font-size: var(--fs-500);
  font-weight: 600;
  letter-spacing: 0.5%;
}

h6 {
  font-family: var(--title-font);
  font-size: var(--fs-400);
  font-weight: 600;
  letter-spacing: 0.5%;
}

b, strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: 800;
}

body, p {
  font-family: var(--body-font);
  font-size: var(--fs-300);
  font-weight: 400;
  letter-spacing: 0;
}

.xxs-icon { font-size: var(--icon-size-2xs); }
.xs-icon { font-size: var(--icon-size-xs); }
.s-icon { font-size: var(--icon-size-s); }
.m-icon { font-size: var(--icon-size-m); }
.l-icon { font-size: var(--icon-size-l); }


.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	margin-bottom: var(--fs-400);
}

.markdown h1 { font-size: var(--fs-700); font-weight: 700; }
.markdown h2 { font-size: var(--fs-600); font-weight: 700; }
.markdown h3 { font-size: var(--fs-500); font-weight: 700; }
.markdown h4 { font-size: var(--fs-400); font-weight: 700; }
.markdown h5 { font-size: var(--fs-300); font-weight: 600; }
.markdown h6 { font-size: var(--fs-300); font-weight: 500; }

.markdown p + p {
	margin-top: var(--fs-200);
}

.markdown blockquote {
	padding-left: var(--fs-100);
	color: var(--secundary-color-800);
	border-left: 3px solid var(--secundary-color-600);
}
.markdown blockquote + blockquote:first-child,
.markdown blockquote:has(+ blockquote) {
  margin: 0;
}

.markdown hr {
	color: var(--secundary-color-800);
}

.markdown code {
	font-family: var(--code-font);
	font-size: var(--fs-300);
	padding: 0.5rem;
	background-color: var(--secundary-color-200);
	color: inherit;
	border-radius: var(--border-s);
}

.markdown pre {
	margin: var(--fs-200) 0;
	padding: 1rem;
	background-color: var(--secundary-color-200);
	color: inherit;
	border-radius: var(--border-xs);
}

.markdown pre code {
	background-color: transparent;
	padding: 0;
}