.state-tracker {
	position: relative;
	padding: var(--spacing-s) 0;
	overflow: hidden;
}


.state-tracker .state {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	z-index: 1;
}

.state-tracker .state .icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	aspect-ratio: 1 / 1;
	height: 3vw;

	outline: 4px solid var(--background-color-100);
	border-radius: 100%;
}

.state-tracker .state::before {
	content: '';
	position: absolute;
	top: 1.5vw;
	/* Metade da altura do ícone (3vw) */
	left: 50%;
	width: 100%;
	height: var(--fs-100);
	background-color: var(--background-color-600);
	z-index: -1;
}

.state-tracker .state.last::before {
	display: none !important;
}

.state-tracker .state .icon i {
	font-size: var(--icon-size-s);
}

.state-tracker .state .icon b {
	font-size: var(--fs-400);
}

.state-tracker .state .label {
	width: min-content;
	text-align: center;
	color: var(--text-color-700);
	font-weight: 700;
	font-size: var(--fs-300);
	margin-bottom: 0.2rem;
}

.state-tracker .state .description {
	width: min-content;
	text-align: center;
	color: var(--text-color-500);
	font-weight: 500;
	font-size: var(--fs-200);
}


.state.done .icon,
.state.current .icon {
	background-color: var(--primary-color-600);
	color: var(--background-color-100);
	outline-color: transparent;
}

.state.done::before {
	background-color: var(--primary-color-500);
}

.state.current::before {
	background-color: var(--primary-color-600);
}

.state-tracker .state.last::before {
	display: none !important;
}

.state.next .icon {
	background-color: var(--background-color-100);
	color: var(--primary-color-600);
	outline-color: var(--primary-color-600);
}

.state.next .label {
	color: var(--text-color-900);
}

.state.next .description {
	color: var(--text-color-700);
}

.state.to-do .icon {
	background-color: var(--background-color-700);
	color: var(--background-color-100);
}