#proposal {
	gap: var(--spacing-xl);
}

#proposal section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-s);
	padding: 0;
}
#proposal section .title {
	color: var(--text-color-900);
}
#proposal section p {
	color: var(--text-color-700)
}

#proposal .main {
	gap: var(--spacing-2xl);
}

#proposal .title-container {
	gap: var(--spacing-xs);
}
#proposal .title-container .number {
	color: var(--text-color-300);
}
#proposal .title-container .title {
	color: var(--text-color-900);
}
#proposal .title-container .company {
	color: var(--text-color-500);
}

#proposal .side {
	gap: var(--spacing-2xl);
}

#proposal .sidebar {
	gap: var(--spacing-xl);
}

#proposal .sidebar .content {
	gap: var(--spacing-m);
}

#proposal .sidebar .content .divider {
	padding: 0 var(--spacing-xs);
}
#proposal .sidebar .content .divider hr {
	margin: 0;
	color: var(--secundary-color-500);
	opacity: 1;
}

#proposal .sidebar .btns {
	gap: var(--spacing-m);
}

#proposal .side .slots {
	gap: var(--spacing-m);
}