nav {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-l) var(--spacing-2xl);
	background-color: var(--background-color-100);
	box-shadow: 0 4px 1rem 0 var(--background-color-300);
}

.nav-icon {
	border: none;
}
.nav-icon img {
	height: 2rem;
}

.nav-link {
	cursor: pointer;
	font-family: var(--title-font);
	font-size: var(--fs-400);
	color: var(--text-color-700);
	border-color: transparent;
	transition: all 0.1s;
}
.nav-link:hover, .nav-link.active {
	color: var(--primary-color-700);
	border-color: var(--primary-color-700);
}

.nav-side {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-m);
}

.nav-acc p {
	color: var(--text-color-400);
	font-size: var(--fs-200);
}

.nav-acc-img {
	aspect-ratio: 1 / 1;
	height: var(--fs-700);
	border: 1px solid var(--primary-color-700);
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}