.password {
  display: grid;
  position: relative;
}

.password .hide{
  position: absolute;
  top: 50%;
  right: var(--spacing-m);
  transform: translateY(-50%);
  color: var(--text-color-300);
}
.password .hide p {
  cursor: pointer;
  font-size: 1.333rem;
}