#company {
	gap: var(--spacing-2xl);
}

#company .header {
	gap: var(--spacing-xl);
}
#company .header img {
	aspect-ratio: 1 / 1;
	height: 6svw;
	border: 1px solid var(--secundary-color-700);
	border-radius: var(--border-s);
}
#company .header .title {
	color: var(--text-color-800);
}

#company .info {
	gap: var(--spacing-2xl);
}
#company .info p {
	color: var(--text-color-700);
}

#company .representatives .collapsible {
	position: relative;
}


#company .list-container {
	gap: var(--spacing-xl)
}

/* X-Small screens */
@media (width < 576px) {
 #company .collapsible { overflow-x: scroll; }
}

/* Small screens */
@media (width >= 576px) {
 #company .collapsible { overflow-x: scroll; }
}

/* Medium screens */
@media (width >= 768px) {
 #company .collapsible { overflow-x: hidden; }
}

/* Large screens */
@media (width >= 992px) {
 #company .collapsible { overflow-x: hidden; }
}

/* X-Large screens */
@media (width >= 1200px) {
 #company .collapsible { overflow-x: hidden; }
}

/* X-X-Large screens */
@media (width >= 1400px) {
 #company .collapsible { overflow-x: hidden; }
}