nav {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-l) var(--spacing-2xl);
	background-color: var(--background-color-100);
	box-shadow: 0 4px 1rem 0 var(--background-color-300);
}

.nav-icon {
	border: none;
}
.nav-icon img {
	height: 2rem;
}

.nav-link {
	font-family: var(--title-font);
	font-size: 1.1rem;
	color: var(--text-color-700);
	border-color: transparent;
	transition: all 0.1s;
}
.nav-link:hover, .nav-link.active {
	color: var(--primary-color-700);
	border-color: var(--primary-color-700);
}

.nav-side {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-m);
}