.candidatures-list {
	gap: var(--spacing-xl);
}

.captions {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-md);
	color: var(--text-color-100);
	padding: var(--spacing-sm) 0;
}

.cap {
	padding: 8px 12px;
	border-radius: 4px;
	font-size: 0.9rem;
	background-color: var(--background-color-200);
	white-space: nowrap;
	display: flex;
	align-items: center;
	gap: 8px;
}

.cap .bi {
	font-size: var(--icon-size-xs);
}

.cap.unset {
	color: var(--text-color-300);
}

.cap.pending {
	color: var(--yellow);
}

.cap.placed {
	color: var(--green);
}

.cap.accepted {
	color: var(--teal);
}

.cap.rejected {
	color: var(--red);
}

.cap.protocol-generated {
	color: var(--blue);
}

.cap.protocol-isec {
	color: var(--primary-color-400);
}

.cap.protocol-company {
	color: var(--teal);
}

.cap.protocol-student {
	color: var(--orange);
}

.cap.in-internship {
	color: var(--green);
}

.cap.finished {
	color: var(--primary-color-600);
}