@import './styles/imports';

html, body {
  margin: 0;
  background-color: var(--background-color-100);
  color: var(--text-color-700);
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.error-message {
	color: var(--error-color-500);
}


.sidebar {
	padding: var(--spacing-xl);
	gap: var(--spacing-xl);
	background-color: var(--secundary-color-300);
	color: var(--text-color-600);
	border-radius: var(--border-m);
}

.pane {
	--bg: var(--secundary-color-200);
	--color: var(--text-color-700);
	--border: var(--secundary-color-500);

	gap: var(--spacing-s);
	padding: var(--spacing-l);
	background-color: var(--bg);
	color: var(--color);
	border: 1px solid var(--border);
	border-radius: var(--border-xs);
}

.pane.pane-danger {
	--bg: var(--error-color-200);
	--color: var(--error-color-700);
	--border: var(--error-color-300);
}
.pane.pane-warning {
	--bg: var(--warning-color-100);
	--color: var(--warning-color-800);
	--border: var(--warning-color-300);
}
.pane.pane-success {
	--bg: #d4f3e2;
	--color: var(--green);
	--border: var(--green-lighter);
}
.pane.pane-info {
	--bg: #c8deff;
	--color: var(--blue-darker);
	--border: var(--blue);
}


a {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
	transition: 0.2s;
}
a:hover {
	color: var(--blue-lighter);
	border-color: var(--blue-lighter);
	transition: 0.2s;
}

.text-link {
	color: inherit;
	border: none;
}
.text-link::hover {
	color: var(--blue-lighter);
	transition: 0.2s;
}

i { font-size: inherit; }


input,textarea, select, option {
  color: var(--text-color-800);
  font-family: var(--body-font);
  font-size: 1rem;
}
.input {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.input input,
.input textarea,
.input select {
	padding: var(--spacing-s) var(--spacing-m);

	background-color: var(--background-color-100);
	color: var(--text-color-800);

	border: 3px solid var(--text-color-400);
	border-radius: var(--border-xs);

  transition: 0.2s;
}
.input input:focus,
.input textarea:focus,
.input select:focus {
	outline: none;
	border-color: var(--text-color-400);
	box-shadow: 0 0 0 4px var(--background-color-300);

  transition: box-shadow 0.2s;
}
.input label {
	color: var(--primary-color-800);
	margin-left: var(--spacing-s);
}
.input.error *{
  color: var(--error-color-500);
}
.input.error input,
.input.error textarea,
.input.error select {
  background-color: var(--error-color-100);
  border-color: var(--error-color-500);
}
.input.error input:focus,
.input.error textarea:focus,
.input.error select:focus {
  color: var(--text-color-800);
}
.input.disabled input,
.input.disabled textarea,
.input.disabled select {
	color: var(--text-color-400);
	background-color: var(--background-color-600);
}
.input.disabled label {
	color: var(--text-color-400);
}

select {
	appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.tooltip {
  position: relative;
  display: inline-block;
	opacity: 1;
}
.tooltip .bi {
	font-size: var(--icon-size-2xs);
}
.tooltip .tooltiptext {
	--bg: var(--background-color-300);

  position: absolute;
  visibility: hidden;
  top: 50%;
	transform: translateY(-50%);
  left: 150%;
	width: max-content;
	max-width: 25svw;
  padding: var(--spacing-s) var(--spacing-s);
	font-size: var(--fs-200);
	font-weight: 500;
  background-color: var(--bg);
  color: var(--text-color-900);
  text-align: center;
  border-radius: var(--border-xs);
	box-shadow: 0 0 var(--spacing-xs) 0 rgba(0, 0, 0, var(--opacity-24));
	white-space: normal;
  word-wrap: break-word;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--bg) transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip.tooltip-right .tooltiptext {
  top: 50%;
  left: 150%;
  transform: translateY(-50%);
}
.tooltip.tooltip-right .tooltiptext::after {
  top: 50%;
  right: 100%;
  border-color: transparent var(--bg) transparent transparent;
}

.tooltip.tooltip-left .tooltiptext {
  top: 50%;
  left: auto;
  right: 150%;
  transform: translateY(-50%);
}
.tooltip.tooltip-left .tooltiptext::after {
  top: 50%;
  left: 100%;
  border-color: transparent transparent transparent var(--bg);
}

.tooltip.tooltip-top .tooltiptext {
  top: auto;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.tooltip-top .tooltiptext::after {
	display: none;
}

.tooltip.tooltip-bottom .tooltiptext {
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.tooltip-bottom .tooltiptext::after {
  bottom: 100%;	display: none;
}


.alert {
	font-size: var(--fs-400);
}


table {
	overflow: hidden;
	border-radius: var(--border-xs) var(--border-xs) 0 0;
}


table th:first-child,
table td:first-child {
	border-left: none;
  white-space: nowrap;
}


.fit-column {
  white-space: nowrap;
  width: 1%;
}
.overflow-column {
	max-width: 30ch;
	overflow: hidden;
	text-overflow: ellipsis;
}

table .inactive {
	color: var(--text-color-300);
}

table th,
table td  {
  white-space: nowrap;
	border-left: 1px solid var(--secundary-color-300);
	border-bottom: 1px solid var(--secundary-color-300);
	padding: var(--spacing-s) var(--spacing-m);
}

table .header th {
	font-weight: 500;
	background-color: var(--secundary-color-300);
	color: var(--secundary-color-700);
	border-bottom: 1px solid var(--background-color-500);
	padding: var(--spacing-m) var(--spacing-m);
	transition: 0.2s background;
}
table .header th:hover {
	background-color: var(--secundary-color-400);
	transition: 0.2s background;
}


table .header input,
table .header input::placeholder,
table .header select {
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font-weight: inherit;
}

table .header input[type='number'] {
	-moz-appearance: textfield;
}
table .header input::-webkit-outer-spin-button,
table .header input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.table-row:hover {
	background-color: var(--secundary-color-50);
}
.table-row.disabled {
	opacity: 0.8;
	background-color: var(--background-color-200);
}


table .header input {
	border-bottom: 1px solid var(--secundary-color-600);
	width: 100%;
}

table .header .dropdown {
	position: relative;
	overflow: hidden;
}
table .header .dropdown select {
	width: 100%;
}
table .header .dropdown::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid var(--secundary-color-700);
}


.profile-picture {
	width: fit-content;
	height: 12svh;
	aspect-ratio: 1 / 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 5px solid var(--primary-color-600);
	border-radius: 100%;
}


.toggle-collapse {
	font-size: var(--fs-400);
	transition: all 0.2s;
}


.no-decor::placeholder,
.no-decor {
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font-weight: inherit;
}

.no-decor[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
}
.no-decor::-webkit-outer-spin-button,
.no-decor::-webkit-inner-spin-button {
	-webkit-appearance: none;
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	background-color: rgba(0, 0, 0, var(--opacity-40));
	backdrop-filter: blur(2px);
}
.overlay .pop-up {
	padding: var(--spacing-l);
	background-color: var(--background-color-100);
	border-radius: var(--border-m);
	box-shadow: 0 0 var(--spacing-l) 0 rgba(0, 0, 0, var(--opacity-24));
}
.overlay .pop-up .view {
	overflow-y: scroll;
}
.overlay .pop-up .close {
	cursor: pointer;
}