#register-representative {
  display: flex;
  position: relative;
  height: 100svh;
  width: 100%;
	overflow: hidden;
}

section {
	padding: var(--spacing-l);
}

#register-representative .image-container {
  overflow: hidden;

  padding: var(--spacing-xl);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-xs);
}
#register-representative .image-container img {
  height: 5%;
}

#register-representative .form {
	padding: var(--spacing-m) var(--spacing-xl);
}

#register-representative form {
	gap: var(--spacing-m)
}

#register-representative .title-container .title {
	color: var(--primary-color-600);
	text-align: left;
}

#register-representative .title-container .sub-title {
	color: var(--text-color-600);
	text-align: left;
}